<div class="jumbotron">
  <h1 class="display-4">  </h1>
  <h2> Reported Area: <% @output[0]['ReportingArea'] %> </h2>
  <br />
  <h3> The air quality for this area is: <%= @output[0]['AQI'] %></h3>
  <p class="lead">This is the current ozone air qulity readout</p>
  <hr class="my-4">
  <br />
  <p>Refresh your web browser to update the reading....</p>
  <br />
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>

</div>

<br />


